/* TOP NAVIGATION */

.top-nav {
  background-color: #fff;
  width: 100vw;
  float: right;
  padding: 0;
  margin: 0;

  ul{ 
    padding: 0 15px 0 0;
    text-align: right;
    height: 100%;

    li {
      display: inline-block;
      list-style: none;
      padding: 0 24px;
      color: #9d9d9d;
      border-left: 1px solid #E8E8E8;
      height: 100%;
      text-align: center;

      .badge {
        position: absolute;
        top: 14px;
        padding: 5px 5px;
        border-radius: 50%;
        background: #f58220;
      }

      &:nth-child(3) {
        color: rgb(90, 151, 201);

        i {
          padding-right: 12px;
        }
      }

      &:hover {
        color: rgb(90, 151, 201);
      }
    }

    .dolars {
      font-weight: bold;

      i {
        padding: 0 12px;
      }
    }
  }
}


@media (max-width: 640px){
  .top-nav ul li {
    padding: 0 12px;
  }

  .top-nav ul .dolars {
    display: none;
  }
}