body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
  font-family: $main-font;
  box-sizing: border-box;
}

/* Buttons */

.btn-orange {
  background-color: #f58220;
  width: 41px;
  height: 40px;
  color: white;
  border-radius: 3px;
  border: 0px;

  i {
    color: #ffffff;
  }
}

/* Line */
.line {
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
}

.verticalLine {
  height: 80%;
  border-left: 1px solid #e3e3e3;
}

input {
  border: 0;
}

/* LEFT NAVIGATION */

.left-nav {
  background-color: #191919;
  width: calc(100wv - 1074px);
  height: 100vh;
  position: fixed;
 
  float: left;
   
  .logo {
    color: #f1f1f1;
    font-family: $logo-font;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    padding: 12px 0;
  }

  .nav {
    border-bottom: 1px solid #b8b8b8;
    padding-bottom: 12px;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      
      li {
        padding: 12px 36px;

        i {
          margin-right: 12px;
        }
      
        &:hover {
          background-color: #282828;

          a {
            color: #b8b8b8;
          }
        }
        
        a {
          text-decoration: none;
          color: #636363;
        }
      }

      .active {
        background: #282828;

        a {
          color: #b8b8b8;
        }
      }
    }
  }

  .manager {
    color: #636363;
    text-align: center;

    p {
      font-weight: bold;
      padding: 12px 0;
    }
  
    .images { 
      width: 40%;
      float: left;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }

    .menthor {
      float: left;
    }
  }
}

/* TOP NAVIGATION */

.top-nav {
  background-color: #fff;
  width: 100vw;
  float: right;
  padding: 0;
  margin: 0;

  ul{ 
    width: 85%;
    text-align: right;
    height: 100%;

    li {
      display: inline-block;
      list-style: none;
      padding: 0 24px;
      color: #9d9d9d;
      border-left: 1px solid #E8E8E8;
      height: 100%;
      text-align: center;

      &:nth-child(3) {
        color: rgb(90, 151, 201);

        i {
          padding-right: 12px;
        }
      }

      &:hover {
        color: rgb(90, 151, 201);
      }
    }

    .dolars {
      font-weight: bold;

      i {
        padding: 0 12px;
      }
    }
  }
}

/* MAIN SECTION */
main {
  position: absolute;
  top: 60px;
  right: 15px;
  display: flex;
  flex-direction: column;

  .container {
    position: relative;
    width: calc(100vw - 250px);
    margin-top: 20px;
    background-color: #fff;

    .dateContainer {
      display: flex;
      align-items: center;
      width: 460px;
      margin: 40px auto;

      .smallDateContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 90%;
        height: 40px;
        margin: 50px auto;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
      }
    }

    .wrapper{
      width: 1000px;
      margin: auto;

      .dataContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 50px auto;

        .data {
          display: flex;
          justify-content: space-between;
          width: 46%;
          border-bottom: 1px solid #e3e3e3;

          p {
            &:first-of-type {
              font-weight: bold;
            }

            &:last-of-type {
              color: #333333;
            }
          }
        }
      }

      h3{
        margin: 55px 0;
      }
    }
  }
}


@media (max-width: 1260px) {
  main .container .wrapper{
    width: 800px;
  }
}

@media (max-width: 1260px) and (orientation: landscape) {
  main .container {
    width: calc(100vw - 225px);
  }
}

@media (max-width: 1060px){
  main .container {
    width: calc(100vw - 245px);

    .wrapper{
      width: 600px;
    }
  }
}

@media (max-width: 860px){
  main .container .wrapper{
    width: 500px;
  }
}

@media (max-width: 760px) {
  main .container {
    width: calc(100vw - 70px);
  }
}

@media (max-width: 670px) and (orientation: landscape) {
  main .container {
    width: calc(100vw - 90px);
  }
}

@media (max-width: 600px){
  main{
    top: 5px;

    .container {
      width: calc(100vw - 75px);
      margin-top: 0;

      .dateContainer {
        flex-direction: column;
        width: 80%;

        .smallDateContainer{
          margin: 10px 0 10px;
          flex-direction: column;
          height: 100px;
          width: 80%;

          input {
            width: 50%;
            border: 1px solid #e3e3e3;
          }

          .verticalLine {
            display: none;
          }
        }
      }

      .wrapper{
        width: 80%;

        .dataContainer {
          flex-direction: column;
          align-items: center;
          width: 80%;
          margin: 25px auto;

          .data {
            width: 90%;
          }
        }

        canvas {
          width: 80%;
          margin-bottom: 25px;
        }
      }
    }
  }
}