/* Buttons */

.btn-orange {
  background-color: #f58220;
  width: 41px;
  height: 40px;
  color: white;
  border-radius: 3px;
  border: 0px;

  i {
    color: #ffffff;
  }
}

.btn-links {
  width: 127px;
  margin: 23px 0;
}

.center {
  text-align: center;
}